<!-- setting height and width respectively, 
  and calling our three functions -->
<!-- <google-map height="400px"
  width="750px"
  [center]="center"
  [zoom]="zoom"
  (mapMousemove)="move($event)">
</google-map> -->

<!-- displaying real-time location -->
<!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div> -->
<mat-toolbar>
  <span class="fs-2 me-3">Tripplan</span>
  <div class="fs-6">
    The perfect way to plan a perfect trip
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
