<div class="card" style="width: 18rem;">
  <img [src]="tripPlan.thumbnail" class="card-img-top" alt="...">
  <div class="card-body">
    <a [routerLink]="['/trip', tripPlan.title]"><p class="card-text fs-4">{{tripPlan.title}}</p></a>
    <p>{{tripPlan.dates.startDate.toDateString()}} - {{tripPlan.dates.endDate.toDateString()}}</p>
    <p>Collaborators: {{tripPlan.collaborators.join(", ")}}</p>
      <!-- TODO: there is this thing in angular 17 where you use @for instead of ngFor. worth considering -->
      <!-- @for (item of [
      { title: 'Explore the Docs', link: 'https://angular.dev' },
      { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
      { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
      { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' },
      { title: 'Angular DevTools', link: 'https://angular.dev/tools/devtools' },
    ]; track item.title) {} -->

    
  
    <!-- TODO: for whatever reason the dates dont work so theres a placeholder for design purposes -->
  </div>
</div>
