<div class="card" style="width: 18rem;">
  @if (tripPlan.thumbnail) {
    <img [src]="tripPlan.thumbnail" class="card-img-top" alt="...">
  } @else {
    <i class="trip-placeholder bi bi-house-fill align-self-center"></i>
  }
  <div class="card-body">
    <p class="card-text fs-4">{{tripPlan.title}}</p>
    <p>{{tripPlan.dates.startDate | date}} - {{tripPlan.dates.endDate | date}}</p>
    <!-- <p>Collaborators: {{tripPlan.planners.join(", ")}}</p> -->
    <!-- TODO: there is this thing in angular 17 where you use @for instead of ngFor. worth considering -->
    <!-- @for (item of [
      { title: 'Explore the Docs', link: 'https://angular.dev' },
      { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
      { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
      { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' },
      { title: 'Angular DevTools', link: 'https://angular.dev/tools/devtools' },
    ]; track item.title) {} -->
  </div>
</div>
